# Ignore environment and package directories
venv/
node_modules/

# Ignore temporary or backup files
*.log
*.tmp
*.bak

# Ignore large dataset in the data folder
data/games_may2024_cleaned

# Ignore node_modules
node_modules/
python/games_may2024_cleaned.csv
