# Ignore environment and package directories
venv/
node_modules/

# Ignore temporary or backup files
*.log
*.tmp
*.bak

# Ignore large datasets
data/games_may2024_cleaned.csv

# Ignore Node and MySQL2
/node_modules