# Ignore environment and package directories
venv/
node_modules/

# Ignore db connection details
db-config.json

# Ignore temporary or backup files
*.log
*.tmp
*.bak

# Ignore all large files
*.csv
*.zip

# Ignore node_modules
node_modules/
python/recent_indies.json

# Ignore extension rules
*.prettierignore
